.allScreen{
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(54deg, rgba(0,0,0,0.8799719716988358) 0%, rgba(10,12,33,1) 20%, rgba(45,0,89,1) 65%, rgba(96,0,29,0.933193260214242) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}